@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0e0d0d;
}

.hero {
  width: 100%;
  height: calc(100vh - 4.3rem);
  position: relative;
}

.center-hero {
  position: absolute;
  width: 38rem;
  height: 23rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../images/hero_tedx.png") center/cover;
}

.center-hero > div {
  color: white;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  transform: translateY(-50%);
}

.center-hero > div > span {
  color: #ec1015;
}

.hero .top-left {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-top: 6rem;
  margin-left: 3.5rem;
  top: 0;
  left: 0;
}

.hero .top-left .large {
  height: 11rem;
  width: 14rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 0.35);
}

.hero .top-left .small {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, -40%);
  height: 6rem;
  width: 8rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 1);
  display: inline-block;
}

.hero .top-right {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-top: 4rem;
  margin-right: 10rem;
  top: 0;
  right: 0;
}

.hero .top-right .large {
  height: 11rem;
  width: 14rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 0.35);
}

.hero .top-right .small {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(60%, 65%);
  height: 6rem;
  width: 8rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 1);
  display: inline-block;
}

.hero .bottom .bottom-left {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-bottom: 3rem;
  margin-left: 3.5rem;
  bottom: 5%;
  left: 3%;
}

.hero .bottom .bottom-left .large {
  height: 8rem;
  width: 11rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 0.35);
}

.hero .bottom .bottom-left .small {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, -40%);
  height: 5rem;
  width: 6rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 1);
  display: inline-block;
}

.hero .bottom .bottom-left-2 {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-bottom: 3rem;
  bottom: 8%;
  left: 30%;
}

.hero .bottom .bottom-left-2 .large {
  height: 7rem;
  width: 10rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 0.35);
}

.hero .bottom .bottom-right {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-bottom: 3rem;
  margin-left: 3.5rem;
  bottom: 0;
  right: 30%;
}

.hero .bottom .bottom-right .large {
  height: 8rem;
  width: 11rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 0.35);
}

.hero .bottom .bottom-right .small {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-20%, -50%);
  height: 5rem;
  width: 6rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 1);
  display: inline-block;
}

.hero .bottom .bottom-right-2 {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 15%;
  right: 5%;
}

.hero .bottom .bottom-right-2 .large {
  height: 8rem;
  width: 11rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 0.35);
}

.hero .bottom .bottom-right-2 .small {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-70%, -40%);
  height: 5rem;
  width: 6rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.25);
  background-color: rgba(64, 64, 64, 1);
  display: inline-block;
}

.begins {
  width: 100%;
  height: 100vh;
  position: relative;
}

.begins .top {
  width: 100%;
  height: 50%;
  background: url("../images/Begins.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.begins .top > div span {
  font-size: 7.5rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  letter-spacing: -4px;
}

.begins .top > div span:nth-child(1) {
  color: #ec1015;
}

.begins .top > div span:nth-child(2) {
  color: #f1ff39;
}

.begins .top > div span:nth-child(3) {
  color: white;
}

.begins .bottom {
  width: 100%;
  height: 50%;
  font-size: 15rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.tedx-event {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.tedx-event::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 90%;
  height: 90%;
  background: #1b1b1b;
}

.tedx-event .left {
  position: absolute;
  top: 10%;
  padding-left: 6rem;
  width: 65%;
}

.tedx-event .left h1 {
  position: relative;
  z-index: 1;
}

.tedx-event .left h1:nth-of-type(1) {
  color: white;
  padding: 1rem 3rem 0rem 0rem;
  font-size: 4.5rem;
  font-family: "Encode Sans", sans-serif;
}

.tedx-event .left h1:nth-of-type(2) {
  font-size: 4rem;
  padding-left: 7rem;
  font-family: "Encode Sans", sans-serif;
}

.tedx-event .left h1:nth-of-type(2) span:nth-of-type(1) {
  color: #ff2b06;
  font-size: 6.5rem;
  letter-spacing: -5px;
}

.tedx-event .left h1:nth-of-type(2) span:nth-of-type(1) sup {
  font-size: 4.5rem;
  padding-left: 0.5rem;
}

.tedx-event .left h1:nth-of-type(2) span:nth-of-type(2) {
  color: #f1ff39;
  font-family: "Anton", sans-serif;
  font-size: 6rem;
  padding-left: 0.3rem;
  font-weight: 500;
  letter-spacing: -3px;
  position: relative;
}

.tedx-event .left h1:nth-of-type(2) span:nth-of-type(3) {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: -3px;
  position: relative;
}

.tedx-event .left h1:nth-of-type(2) span:nth-of-type(2)::after,
.tedx-event .left h1:nth-of-type(2) span:nth-of-type(3)::after {
  position: absolute;
  top: 40%;
  width: 95%;
  height: 5px;
  content: "";
  background-color: #1b1b1b;
}

.tedx-event .left h1:nth-of-type(2) span:nth-of-type(2)::after {
  right: 0;
}

.tedx-event .left h1:nth-of-type(2) span:nth-of-type(3)::after {
  left: 0;
}

.tedx-event .left > p {
  position: absolute;
  z-index: 1;
  color: rgba(255, 255, 255, 0.75);
  font-size: 2.1rem;
  font-weight: 600;
}

.tedx-event .right {
  position: absolute;
  left: calc(100vw - 32%);
  top: 50%;
  transform: translateY(-30%);
  border-left: 3px solid white;
  z-index: 1;
  padding: 1rem 0rem 1rem 2.5rem;
}

.tedx-event .right > h2 {
  color: white;
  font-weight: 400;
}

.tedx-event .right h1:nth-of-type(1) {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 5.2rem;
  transform: translateY(-15%);
}

.tedx-event .right h1:nth-of-type(2) {
  transform: translateY(-35%);
}

.tedx-event .right h1:nth-of-type(2) span {
  color: white;
  font-size: 10rem;
}

.tedx-event .right h1:nth-of-type(2) span sup {
  color: #ec1015;
  font-size: 6rem;
}

.view-event {
  background-color: rgba(196, 196, 196, 0.07);
  border: 5px solid #ff2e2e;
  text-decoration: none;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.3rem;
  position: absolute;
  transform: translateY(-200%);
}

@media (min-width: 1350px) {
  .tedx-event .left {
    padding-left: 4rem;
    /* width: 60%; */
  }
  .tedx-event .right {
    /* width: 35%; */
    left: calc(100vw - 37%);
  }
}
