<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../public/images/favicon-32x32.png" type="image/x-icon" />
    <link rel="stylesheet" href="../public/CSS/footer.css" />
    <link rel="stylesheet" href="../public/CSS/about.css" />
    <link rel="stylesheet" href="../public/CSS/nav.css" />
    <title>About</title>
</head>

<body>
    <div class="nav">
        <input type="checkbox" id="nav-check" />
        <div class="nav-header">
            <div class="nav-title">
                <a href="../index.html"><img src="../public/images/tedx.png" alt="tedx" /></a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="../index.html">HOME</a>
            <a href="../views/about.html" class="active">ABOUT</a>
            <a href="../views/guidelines.html">GUIDELINES</a>
            <a class="join" href="signup.html">JOIN US</a>
        </div>
    </div>

    <!-- second nav -->

    <div class="second-nav">
        <ul>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#mission">MISSION</a></li>
            <li><a href="#vision">VISION</a></li>
            <li><a href="#speakers">SPEAKERS</a></li>
            <li><a href="#organizers">ORGANIZERS</a></li>
        </ul>
    </div>

    <section class="section-first" id="about">
        <img class="section-first-img" src="../public/images/tedx.png" alt="" />
        <img class="section-first-img-mobile" src="../public/images/img5.jpeg" alt="" />
        <div class="section-first-content">
            <p>
                In the spirit of “ideas worth spreading”, TEDx is a program designed
                to give communities, organizations and individuals the opportunity to
                create their own TED-like events at the local level. TEDxTokyo played
                a leading role in the early development of the TEDx movement; it was
                the first TEDx conference to be held following the US launch event in
                June 2009. Now celebrating its seventh anniversary, the conference has
                become a powerful platform for bringing together global innovators and
                creative talent from Japan and around the world. It provides a forum
                for sharing the best Japanese ideas and innovation as well as
                stimulation for the country’s business leaders and entrepreneurs as
                Japan redefines its role on the world stage.
            </p>
        </div>
        <div class="section-first-content section-first-content-about">
            <h1>About <span>TED</span></h1>
            <p>
                Since then its scope has grown. Along with two annual conferences –
                the TED Conference in Long Beach, California each spring, and
                TEDGlobal in Edinburgh, UK each summer – TED includes the
                award-winning TED Talks site, which provides over 1,400 of the best
                talks and performances from TED and partners available to the world,
                for free, with more added each week. Over 1,000 are subtitled in
                Japanese.
            </p>
        </div>
    </section>

    <div class="line1"></div>

    <section class="mission-section" id="mission">
        <div>
            <div class="mission-content">
                <h1 class="our-mission-heading">OUR MISSION</h1>
            </div>
            <div class="container">
                <div class="heading-div heading-first-div">
                    <div class="heading-left-div">
                        <h1 class="heading">
                            How the hell they do it - how are you gonna execute it ?
                        </h1>
                        <p class="left-div-paragraph">
                            People know about the causes and results of climate change. They
                            don’t seem to understand how precarious these effects are.this
                            platform to tell how much lack of enthusiasm the humankind has
                            towards this issue
                        </p>
                    </div>
                    <div class="heading-right-div">
                        <img class="dot1" src="../public/images/dots1.png" alt="" />
                        <img class="image1" src="../public/images/IMG_7891.JPG" alt="" />
                        <img class="dot2" src="../public/images/dots2.png" alt="" />
                        <p class="paragraph-on-image">
                            “We can save ourselves but only if we let go of the myth of
                            dominance and mastery and learn to work with nature” - Naomi
                            Klien
                        </p>
                    </div>
                </div>

                <!-- <div class="line2"></div> -->

                <div class="heading-div second-heading-div">
                    <div class="heading-right-div">
                        <img class="dot1" src="../public/images/dots1.png" alt="" />
                        <img class="image1" src="../public/images/img2.jpeg" alt="" />
                        <img class="dot2" src="../public/images/dots2.png" alt="" />
                        <p class="paragraph-on-image-left">
                            “We cannot despair of humanity , since we ourselves are human
                            beings” Albert Einstein
                        </p>
                    </div>
                    <div class="heading-left-div">
                        <!-- <h1 class="heading">HEADING</h1> -->
                        <p class="left-div-paragraph">
                            As we dream and aim to build a better future, we would like to
                            take the first step, use and educate them about what would
                            happen if this continues. To accomplish this, we have great
                            minds and youths from various backgrounds who have understood
                            the hazardous changes occurring and have already begun their
                            voyage to renew the world to its glory.
                        </p>
                    </div>
                </div>

                <!-- <div class="line3"></div> -->
            </div>
        </div>
    </section>

    <section class="mission-section-mobile">
        <div>
            <h1>OUR MISSION</h1>
            <p>
                People know about the causes and results of climate change. They don’t
                seem to understand how precarious these effects are.this platform to
                tell how much lack of enthusiasm the humankind has towards this issue
            </p>
        </div>
        <div>
            <h1>How the hell they do it - How are you gonna execute it ?</h1>
            <img class="image-img-mobile" src="../public/images/IMG_7891.JPG" alt="" />
            <p>
                As we dream and aim to build a better future, we would like to take
                the first step, use and educate them about what would happen if this
                continues. <br />
                “We can save ourselves but only if we let go of the myth of dominance
                and mastery and learn to work with nature” - Naomi Klien
            </p>
        </div>
        <div>
            <img class="image-img-mobile" src="../public/images/img2.jpeg" alt="" />
            <p>
                To accomplish this, we have great minds and youths from various
                backgrounds who have understood the hazardous changes occurring and
                have already begun their voyage to renew the world to its glory.
                <br />
                “We cannot despair of humanity , since we ourselves are human beings”
                Albert Einstein
            </p>
        </div>
    </section>

    <section class="our-mission" id="vision">
        <div class="our-mission-main">
            <div class="our-mission-div">
                <h1>OUR VISION</h1>
                <img class="mission-image" src="../public/images/our-mission.png" alt="" />
            </div>
            <img class="dot dot-mission-1" src="../public/images/dots1.png" alt="" />
            <img class="dot dot-mission-2" src="../public/images/dots1.png" alt="" />
            <img class="dot dot-mission-3" src="../public/images/dots1.png" alt="" />
            <img class="dot dot-mission-4" src="../public/images/dots1.png" alt="" />
            <img class="three-dot-img-1" src="../public/images/three-dots-color.png" alt="" />
            <img class="three-dot-img-2" src="../public/images/three-dots-color.png" alt="" />
            <img class="three-dot-img-3" src="../public/images/three-dots-color.png" alt="" />
            <img class="three-dot-img-4" src="../public/images/three-dots-color.png" alt="" />
        </div>
        <div>
            <p class="paragraph-mission">
                We envision building a better future by cutting greenhouse gas
                emissions in half by 2030 in the race to the zero-carbon world - the
                world that is safer, cleaner and fairer for everyone. We aim to make
                such an impact that ripples across generations to come by providing a
                sustainable future for the planet and its residents because “We do not
                inherit the Earth from our ancestors, we borrow it from our children.”
            </p>
        </div>
        <div class="second-mission-main-container">
            <div class="second-mission-main">
                <div class="second-mission">
                    <div class="second-mission-content">
                        <h1>Aim of the program - what impact do you want to bring ?</h1>
                        <p>
                            Bridging the gap between people knowing the facts about the
                            adverse effects of climate change and actually understanding its
                            impact is key to creating a better future.Protecting the earth
                            and environment has always been an open ground, a movement open
                            to everyone - and everyone has a vital role to play.
                        </p>
                    </div>
                </div>
                <div class="image-border-right">
                    <img class="image-border-dot1" src="../public/images/dots1.png" alt="" />
                    <div class="image-border1"></div>
                    <div class="image-border2"></div>
                    <img class="image-border-dot2" src="../public/images/dots2.png" alt="" />
                </div>
                <div class="image-border-right-mobile">
                    <div class="image-border1-mobile"></div>
                    <div class="image-border2-mobile"></div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="title-black-background">
            <img src="../public/images/tedx4.png" alt="" />
            <p>Chennai Institute of Technology</p>
        </div>
        <div class="three-dots-div-start">
            <img src="../public/images/three-dots.png" alt="" />
            <img src="../public/images/three-dots.png" alt="" />
        </div>
        <div class="presents-our-speakers" id="speakers">
            <h4>PRESENTS OUR <span>SPEAKERS</span></h4>
            <div class="presents">
                <p>
                    Climate change has environmental, social, political, and economic
                    repercussions. Our TEDx SPEAKERS ask the hard questions: how human
                    beings influence the Earth’s temperatures? How will these changes
                    affect communities and species across the globe? And, importantly,
                    is there still time to change our ways?
                    <br />
                    Our speakers are industrialists ,influencers and UG students ,who
                    aim to make this planet a better place of living , not a planet
                    where we have to fight for survival. They have already taken the
                    first step forward via many NGOs and voicing out the seething issue
                    at hand, in turn spreading awareness.
                    <br />
                    Here’s a list of our speakers:
                </p>
            </div>
        </div>
        <div class="atag-last-time-speakers">
            <a href="./ourspeakers.html">Last Time Speakers</a>
        </div>
        <!-- <div class="images-speakers-main-div">
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
        </div> -->
    </section>

    <section class="event-organizers" id="organizers">
        <div class="three-dots-div">
            <img src="../public/images/three-dots.png" alt="" />
            <img src="../public/images/three-dots.png" alt="" />
        </div>
        <div class="event-organizers-content">
            <h1 class="event-organizers-h1"><span>EVENT</span> ORGANIZERS</h1>
            <span class="span-paragraph-top"></span>
            <p>
                The Organizers for this event are Undergrad students of CIT who wish
                to contribute their part against the bitter effects of Climate Change.
                They hope to form a warm environment where speaking one’s mind is
                always welcome. A combined effort with staff’s support has led to the
                envisionment of this event. The Organizers are visionaries who wish to
                change the unavailing public’s attention and get solutions for this
                Global Catastrophe.
            </p>
        </div>
        <!-- <div class="all-image-organizers">
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
        </div> -->
        <div class="three-dots-div">
            <img src="../public/images/three-dots.png" alt="" />
            <img src="../public/images/three-dots.png" alt="" />
        </div>
    </section>

    <!-- FOOTER -->

    <footer>
		<div class="body mobile-footer">
			<table>
				<thead>
					<tr>
						<th>About TEDx</th>
						<th colspan="2">CONTACT</th>
						<!-- <th>Organizing Team</th> -->
						<!-- <th>Speakers</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a
								href="https://www.ted.com/about/our-organization/our-policies-terms/ted-talks-usage-policy">TED
								Talks Usage Policy</a>
						</td>
						<td>Babu Charles</td>
						<td>7358734561</td>
						<!-- <td>Web Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td>
							<a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy
								Policy</a>
						</td>
						<td>Rohith</td>
						<td>7397385494</td>
						<!-- <td>Design Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td><a href="https://support.ted.com/">Help</a></td>
						<td>Naparajith</td>
						<td>7550184309</td>
						<!-- <td>NAME</td> -->
						<!-- <td>NAME</td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer">
			<ul>
				<li>
					<a href="https://www.facebook.com/profile.php?id=100073719521869" target="_blank">Facebook</a>
				</li>
				<li>
					<a href="https://www.instagram.com/tedxchennaiinstituteoftech_/" target="_blank">Instagram</a>
				</li>
				<li>
					<a href="https://twitter.com/CitTedx" target="_blank">Twitter</a>
				</li>
			</ul>
			<p class="privacy-policy">
				@Chennai India, Inc. All rights reserved /
				<a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy</a>
				/ <a href="./views/signup.html">Contact</a> /
				<a href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ">Press</a>
			</p>
		</div>
	</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>

    <script src="../public/JS/index.js"></script>
    <script src="../public/JS/about.js"></script>
    <script src="../public/JS/footer.js"></script>
</body>

</html>