<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/CSS/nav.css">
    <link rel="stylesheet" href="../public/CSS/about.css">
    <link rel="stylesheet" href="../public/CSS/footer.css">
    <title>About</title>
</head>

<body>
    <section class="nav-section">
        <nav>
            <a href=""><img src="../public/images/tedx.png" alt="tedx" /></a>
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="../views/about.html">ABOUT</a></li>
                <li><a href="../views/guidelines.html">GUIDELINES</a></li>
                <li><a href="../views/signup.html">CONTACT</a></li>
                <li class="join"><a href="/">JOIN</a></li>
            </ul>
        </nav>
        <!-- second nav -->

        <div class="second-nav">
            <ul>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#mission">MISSION</a></li>
                <li><a href="#vision">VISION</a></li>
                <li><a href="#speakers">SPEAKERS</a></li>
                <li><a href="#organizers">ORGANIZERS</a></li>
            </ul>
        </div>
    </section>

    <section class="section-first" id="about">
        <img class="section-first-img" src="../public/images/tedximage.png" alt="">
        <div class="section-first-content">
            <p>In the spirit of “ideas worth spreading”, TEDx is a program designed to give communities, organizations
                and individuals the opportunity to create their own TED-like events at the local level. TEDxTokyo played
                a leading role in the early development of the TEDx movement; it was the first TEDx conference to be
                held following the US launch event in June 2009. Now celebrating its seventh anniversary, the conference
                has become a powerful platform for bringing together global innovators and creative talent from Japan
                and around the world. It provides a forum for sharing the best Japanese ideas and innovation as well as
                stimulation for the country’s business leaders and entrepreneurs as Japan redefines its role on the
                world stage.</p>
        </div>
        <div class="section-first-content section-first-content-about">
            <h1>About <span>TED</span></h1>
            <p>Since then its scope has grown. Along with two annual conferences – the TED Conference in Long Beach,
                California each spring, and TEDGlobal in Edinburgh, UK each summer – TED includes the award-winning TED
                Talks site, which provides over 1,400 of the best talks and performances from TED and partners available
                to the world, for free, with more added each week. Over 1,000 are subtitled in Japanese.</p>
        </div>
    </section>



    <div class="line1"></div>


    <section class="mission-section" id="mission">
        <div>
            <div class="mission-content">
                <h1 class="our-mission-heading">OUR MISSION</h1>
            </div>
            <div class="container">
                <div class="heading-div heading-first-div">
                    <div class="heading-left-div">
                        <h1 class="heading">HEADING</h1>
                        <p class="left-div-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Recusandae
                            libero quo aut
                            pariatur
                            laborum et cupiditate minima, assumenda aspernatur repellendus saepe corporis suscipit
                            numquam
                            adipisci deleniti atque explicabo facere molestiae!</p>
                    </div>
                    <div class="heading-right-div">
                        <img class="dot1" src="../public/images/dots1.png" alt="">
                        <img class="image1" src="../public/images/image1.png" alt="">
                        <img class="dot2" src="../public/images/dots2.png" alt="">
                        <p class="paragraph-on-image">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
                            ac
                            dictum enim, et vulputate
                            eros. Pellentesque ullamcorper mi id neque aliquam tempor. Proin sollicitudin, odio at
                            malesuada
                        </p>
                    </div>
                </div>

                <!-- <div class="line2"></div> -->

                <div class="heading-div second-heading-div">
                    <div class="heading-right-div">
                        <img class="dot1" src="../public/images/dots1.png" alt="">
                        <img class="image1" src="../public/images/image1.png" alt="">
                        <img class="dot2" src="../public/images/dots2.png" alt="">
                        <p class="paragraph-on-image-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Aliquam
                            ac
                            dictum enim, et vulputate
                            eros. Pellentesque ullamcorper mi id neque aliquam tempor. Proin sollicitudin, odio at
                            malesuada
                        </p>
                    </div>
                    <div class="heading-left-div">
                        <h1 class="heading">HEADING</h1>
                        <p class="left-div-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Recusandae
                            libero quo aut
                            pariatur
                            laborum et cupiditate minima, assumenda aspernatur repellendus saepe corporis suscipit
                            numquam
                            adipisci deleniti atque explicabo facere molestiae!</p>
                    </div>
                </div>

                <!-- <div class="line3"></div> -->

            </div>
        </div>
    </section>


    <section class="our-mission" id="vision">
        <div class="our-mission-main">
            <div class="our-mission-div">
                <h1>OUR VISION</h1>
                <img class="mission-image" src="../public/images/our-mission.png" alt="">
            </div>
            <img class="dot dot-mission-1" src="../public/images/dots1.png" alt="">
            <img class="dot dot-mission-2" src="../public/images/dots1.png" alt="">
            <img class="dot dot-mission-3" src="../public/images/dots1.png" alt="">
            <img class="dot dot-mission-4" src="../public/images/dots1.png" alt="">
            <img class="three-dot-img-1" src="../public/images/three-dots-color.png" alt="">
            <img class="three-dot-img-2" src="../public/images/three-dots-color.png" alt="">
            <img class="three-dot-img-3" src="../public/images/three-dots-color.png" alt="">
            <img class="three-dot-img-4" src="../public/images/three-dots-color.png" alt="">
        </div>
        <div>
            <p class="paragraph-mission">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid quas deserunt
                eaque minus blanditiis maiores reiciendis commodi, nesciunt nam, hic, aliquam voluptate aspernatur at
                odit odio exercitationem ipsum? Tempore, rem?
                Magnam, consectetur illum neque cupiditate magni perferendis harum nisi deleniti. Architecto quaerat
                illo, illum amet optio eum, soluta error laborum quam assumenda porro nam molestiae doloremque quasi
                earum animi corporis?</p>
        </div>
        <div class="second-mission-main-container">
            <div class="second-mission-main">
                <div class="second-mission">
                    <div class="second-mission-content">
                        <h1>HEADING</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit porro voluptate
                            enim
                            adipisci provident quas voluptates, quos illum quisquam!</p>
                    </div>
                    <div class="line5"></div>
                </div>
                <div class="image-border-right">
                    <img class="image-border-dot1" src="../public/images/dots1.png" alt="">
                    <div class="image-border1"></div>
                    <div class="image-border2"></div>
                    <img class="image-border-dot2" src="../public/images/dots2.png" alt="">
                </div>
            </div>
            <div class="second-mission-main second-mission-main2">
                <div class="image-border-right">
                    <img class="image-border-dot1" src="../public/images/dots1.png" alt="">
                    <div class="image-border1"></div>
                    <div class="image-border2"></div>
                    <img class="image-border-dot2" src="../public/images/dots2.png" alt="">
                    <!-- <div class="line6"></div> -->
                </div>
                <div class="second-mission">
                    <div class="second-mission-content">
                        <h1>HEADING</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur impedit porro voluptate
                            enim
                            adipisci provident quas voluptates, quos illum quisquam!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="title-black-background">
            <img src="../public/images/tedx.png" alt="">
            <p>Chennai Institute of Technology</p>
        </div>
        <div class="three-dots-div-start">
            <img src="../public/images/three-dots.png" alt="">
            <img src="../public/images/three-dots.png" alt="">
        </div>
        <div class="presents-our-speakers" id="speakers">
            <h4>PRESENTS OUR <span>SPEAKERS</span></h4>
            <div class="presents">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus nobis nam iure blanditiis eveniet!
                    Commodi deserunt nobis eaque iusto vel amet cupiditate accusantium soluta numquam, est enim minima
                    nostrum inventore?
                    Dicta, ducimus numquam, hic impedit perspiciatis veritatis voluptatum porro cumque sint facere
                    vitae, quam vel dignissimos debitis atque esse quibusdam nihil perferendis odio aperiam et! Quae
                    perferendis numquam dicta voluptatem.</p>
            </div>
        </div>
        <div class="images-speakers-main-div">
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
            <div class="images-speakers">
                <div class="image-speaker">
                    <div class="image-speaker-content">
                        <h1>AMIGO AMICA</h1>
                        <hr>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, commodi!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="event-organizers" id="organizers">
        <div class="three-dots-div">
            <img src="../public/images/three-dots.png" alt="">
            <img src="../public/images/three-dots.png" alt="">
        </div>
        <div class="event-organizers-content">
            <h1 class="event-organizers-h1"><span>EVENT</span> ORGANIZERS</h1>
            <span class="span-paragraph-top"></span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas temporibus id, at, delectus provident autem
                non consequatur harum nisi dolor possimus, ipsa facilis aliquid laudantium dolore repellendus doloremque
                labore! Aperiam.</p>
        </div>
        <div class="all-image-organizers">
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
            <div class="image-organizer">
                <div class="red-div"></div>
                <div class="img-organizer"></div>
                <div class="grey-div"></div>
                <h1 class="ted-absolute">TED</h1>
                <p class="x-absolute">x</p>
                <div class="image-organizer-content">
                    <h3>SIGMA GANG</h3>
                    <p style="color: rgb(80, 80, 80);">Tortor aliquam at ac.</p>
                    <p style="color: red;">@official_sigma_rulers</p>
                </div>
            </div>
        </div>
        <div class="three-dots-div">
            <img src="../public/images/three-dots.png" alt="">
            <img src="../public/images/three-dots.png" alt="">
        </div>
    </section>


    <!-- FOOTER -->

    <footer>
        <div class="body">
            <a href="#">JOIN US</a>
            <table>
                <thead>
                    <tr>
                        <th>About TEDx</th>
                        <th colspan="2">CONTACT</th>
                        <th>Organizing Team</th>
                        <th>Speakers</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lorem ipsum dolor</td>
                        <td>ABC</td>
                        <td>XXXXXXXXXX</td>
                        <td>NAME</td>
                        <td>NAME</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor</td>
                        <td>ABC</td>
                        <td>XXXXXXXXXX</td>
                        <td>NAME</td>
                        <td>NAME</td>
                    </tr>
                    <tr>
                        <td>Lorem ipsum dolor</td>
                        <td>ABC</td>
                        <td>XXXXXXXXXX</td>
                        <td>NAME</td>
                        <td>NAME</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <ul>
                <li>Linkedin</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
            <p>
                @Chennai India, Inc. All rights reserved / Privacy / Contact / Press
            </p>
        </div>
    </footer>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    <script src="../public/JS/about.js"></script>
</body>

</html>