<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="../public/images/favicon-32x32.png" type="image/x-icon" />
	<title>Guidelines</title>
	<link rel="stylesheet" href="../public/CSS/nav.css" />
	<link rel="stylesheet" href="../public/CSS/footer.css" />
	<link rel="stylesheet" href="../public/CSS/guidelines.css" />
</head>

<body>
	<div class="nav">
		<input type="checkbox" id="nav-check" />
		<div class="nav-header">
			<div class="nav-title">
				<a href="../index.html"><img class="tedx-img-title" src="../public/images/tedx.png" alt="tedx" /></a>
			</div>
		</div>
		<div class="nav-btn">
			<label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</div>

		<div class="nav-links">
			<a href="../index.html">HOME</a>
			<a href="../views/about.html">ABOUT</a>
			<a href="../views/guidelines.html" class="active">GUIDELINES</a>
			<a class="join" href="./signup.html">JOIN US</a>
		</div>
	</div>

	<div class="main">
		<h1 class="title">
			<span><img src="../public/images/event_type_dots2.png" alt="" /></span>
			Guidelines
			<span><img src="../public/images/event_type_dots2.png" alt="" /></span>
		</h1>
		<!-- <div class="options">
        <a class="offline btn active" href="#offline">Offline mode</a>
        
      </div> -->
	</div>
	<div class="modeContent offline-content show">
		<h1><span class="offl">Offline</span> mode</h1>

		<span class="whitedot1 wdot">
			<img src="../public/images/whitedots.png" alt="" />
		</span>

		<span class="whitedot2 wdot">
			<img src="../public/images/whitedots.png" alt="" />
		</span>
		<span class="dots1"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<span class="dots2"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<span class="dots3"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<span class="dots4"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<div class="contentMain">
			<div class="contentBox">
				<span class="circle c1"> 1 </span>

				<p class="p1 pAll" clicked="false">
					If it's essential to a talk that the speaker mentions what they do
					and describe the businesses that they're in, they should. But
					speakers may never use the TED or TEDx stage to pitch their products
					or services, plug their books, or ask for funding. While
					entrepreneurs and business leaders can speak at TEDx events, their
					talk should be driven by an idea and not sell from the stage. A TEDx
					event is not a platform for professional or circuit speakers, such
					as motivational speakers and professional life coaches--it's a fine
					line between shameless self-promotion and wholesome self-reporting
					so, as a rule of thumb, if it feels like an advertisement, it
					probably is.
				</p>
				<button class="readMore" count="0">Read more</button>
			</div>
			<div class="contentBox">
				<span class="circle c2"> 2 </span>

				<p class="p2 pAll" clicked="false">
					Politics, social issues, and policy are key parts of the global
					conversation. However, TEDx stages are not the place for partisan
					politics, nor for extremist or inflammatory positions. Speakers must
					not attack or advocate for parties, party platforms, and political
					leaders in their talk. They must not advocate for violence or
					oppression. Advise speakers to focus on discussing concrete problems
					and solutions.
				</p>
				<button class="readMore" count="1">Read more</button>
			</div>
			<div class="contentBox">
				<span class="circle c3"> 3 </span>

				<p class="p3 pAll" clicked="false">
					Don't book speakers who attempt to prove or persuade the correctness
					of a single religion, deity or other belief system (such as atheism
					or agnosticism), whether through rhetoric or "scientific proof." Be
					wary of speakers promoting new age beliefs, including concepts such
					as quantum consciousness, Gaia theory, archaeoastronomy, and
					drug-induced spiritual epiphanies. Speakers can be honest about
					their beliefs, but should not use the stage to promote them or to
					denigrate those who don’t share them.
				</p>
				<button class="readMore" count="2">Read more</button>
			</div>
			<div class="contentBox">
				<span class="circle c4"> 4 </span>

				<p class="p4 pAll" clicked="false">
					TED offers scientists and other experts a platform to provide
					scientific information directly to millions of people around the
					world. Learn more about TED’s Science Standards. Science is a big
					part of the TED universe, and it’s important that TEDx organizers
					sustain our reputation as a credible forum for sharing ideas that
					matter. It’s not always easy to distinguish between science and
					pseudoscience. And the more willing a speaker is to abandon
					scientific underpinning, the easier it is for them to make
					attention-grabbing claims. This is especially true for talks that
					call on science for support but do not come directly from the
					scientists themselves.
				</p>
				<button class="readMore" count="3">Read more</button>
			</div>
			<div class="contentBox">
				<span class="circle c5"> 5 </span>

				<p class="p5 pAll" clicked="false">
					Special care should also be taken with politically divisive subjects
					(eg. abortion, gun control) so as to avoid polarizing “us vs. them”
					language. Instead, speakers should focus on consensus-building and
					nuanced discussion. Consideration should also be given to any
					content that may carry negative connotations for other parts of our
					global audience.
				</p>
				<button class="readMore" count="4">Read more</button>
			</div>
			<a target="_blank" href="https://www.ted.com/tedx/events/46199" class="linkto">Read more &gt;&gt;</a>
		</div>
		<span class="whitedot3 wdot">
			<img src="../public/images/whitedots.png" alt="" />
		</span>
		<span class="whitedot4 wdot">
			<img src="../public/images/whitedots.png" alt="" />
		</span>
	</div>

	<footer>
		<div class="body mobile-footer">
			<table>
				<thead>
					<tr>
						<th>About TEDx</th>
						<th colspan="2">CONTACT</th>
						<!-- <th>Organizing Team</th> -->
						<!-- <th>Speakers</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a
								href="https://www.ted.com/about/our-organization/our-policies-terms/ted-talks-usage-policy">TED
								Talks Usage Policy</a>
						</td>
						<td>Babu Charles</td>
						<td>7358734561</td>
						<!-- <td>Web Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td>
							<a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy
								Policy</a>
						</td>
						<td>Rohith</td>
						<td>7397385494</td>
						<!-- <td>Design Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td><a href="https://support.ted.com/">Help</a></td>
						<td>Naparajith</td>
						<td>7550184309</td>
						<!-- <td>NAME</td> -->
						<!-- <td>NAME</td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer">
			<ul>
				<li>
					<a href="https://www.facebook.com/profile.php?id=100073719521869" target="_blank">Facebook</a>
				</li>
				<li>
					<a href="https://www.instagram.com/tedxchennaiinstituteoftech_/" target="_blank">Instagram</a>
				</li>
				<li>
					<a href="https://twitter.com/CitTedx" target="_blank">Twitter</a>
				</li>
			</ul>
			<p class="privacy-policy">
				@Chennai India, Inc. All rights reserved /
				<a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy</a>
				/ <a href="./views/signup.html">Contact</a> /
				<a href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ">Press</a>
			</p>
		</div>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
	<script src="../public/JS/guideline.js"></script>
	<script src="../public/JS/footer.js"></script>
</body>

</html>