<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Guidelines</title>
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="../public/CSS/nav.css" />
	<link rel="stylesheet" href="../public/CSS/footer.css" />
	<link rel="stylesheet" href="../public/CSS/guidelines.css" />
</head>

<body>
	<div class="nav">
		<input type="checkbox" id="nav-check">
		<div class="nav-header">
			<div class="nav-title">
				<img class="image-tedx" src="../public/images/tedx.png" alt="">
			</div>
		</div>
		<div class="nav-btn">
			<label for="nav-check">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</div>

		<div class="nav-links">
			<a href="../index.html">HOME</a>
			<a href="../views/about.html">ABOUT</a>
			<a href="../views/guidelines.html" class="active">GUIDELINES</a>
			<a class="join" href="./signup.html">JOIN</a>
		</div>
	</div>
	<div class="main">
		<h1 class="title">
			<span><img src="../public/images/event_type_dots2.png" alt="" /></span>
			Guidelines
			<span><img src="../public/images/event_type_dots2.png" alt="" /></span>
		</h1>
		<!-- <div class="options">
			<a class="offline btn active" href="#offline">Offline mode</a>
			<a class="online btn" href="#online">Online mode</a>
		</div> -->
	</div>
	<div class="modeContent offline-content show">
		<span class="whitedot1">
			<img src="../public/images/whitedots.png" alt="" />
		</span>
		<!-- <h1>Offline mode</h1> -->
		<span class="whitedot2">
			<img src="../public/images/whitedots.png" alt="" />
		</span>
		<span class="dots1"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<span class="dots2"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<span class="dots3"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<span class="dots4"><img src="../public/images/event_type_dots2.png" alt="" /></span>
		<div class="contentMain">
			<div class="contentBox">
				<span class="circle"> 1 </span>

				<p class="p1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
					phasellus proin ultrices in integer habitant fames purus leo.
					Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
					Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
					tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
					habitasse in turpis nisl gravida
				</p>
			</div>

		</div>
		<!-- <div class="modeContent offline-content show" id="offline">
			<span class="whitedot1">
				<img src="../public/images/whitedots.png" alt="" />
			</span>
			<h1>Offline mode</h1>
			<span class="whitedot2">
				<img src="../public/images/whitedots.png" alt="" />
			</span>
			<span class="dots1"><img src="../public/images/event_type_dots2.png" alt="" /></span>
			<span class="dots2"><img src="../public/images/event_type_dots2.png" alt="" /></span>
			<span class="dots3"><img src="../public/images/event_type_dots2.png" alt="" /></span>
			<span class="dots4"><img src="../public/images/event_type_dots2.png" alt="" /></span>
			<div class="contentMain">
				<div class="contentBox">
					<span class="circle"> 1 </span>

					<p class="p1">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
				<div class="contentBox">
					<span class="circle"> 2 </span>

					<p class="p2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
				<div class="contentBox">
					<span class="circle"> 3 </span>

					<p class="p3">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
				<div class="contentBox">
					<span class="circle"> 4 </span>

					<p class="p4">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
				<div class="contentBox">
					<span class="circle"> 5 </span>

					<p class="p5">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>

				<div class="contentBox">
					<span class="circle"> 2 </span>

					<p class="p2">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
				<div class="contentBox">
					<span class="circle"> 3 </span>

					<p class="p3">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>

				</div>
				<div class="contentBox">
					<span class="circle"> 4 </span>

					<p class="p4">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
				<div class="contentBox">
					<span class="circle"> 5 </span>

					<p class="p5">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
			</div>

			<!-- online -->
			<div class="modeContent online-content" id="online">
				<span class="whitedot1">
					<img src="../public/images/whitedots.png" alt="" />
				</span>
				<h1>Online mode</h1>
				<span class="whitedot2">
					<img src="../public/images/whitedots.png" alt="" />
				</span>
				<span class="dots1"><img src="../public/images/event_type_dots2.png" alt="" /></span>
				<span class="dots2"><img src="../public/images/event_type_dots2.png" alt="" /></span>
				<span class="dots3"><img src="../public/images/event_type_dots2.png" alt="" /></span>
				<span class="dots4"><img src="../public/images/event_type_dots2.png" alt="" /></span>
				<div class="contentMain">
					<div class="contentBox">
						<span class="circle"> 1 </span>

						<p class="p1">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
							phasellus proin ultrices in integer habitant fames purus leo.
							Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
							Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
							tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
							habitasse in turpis nisl gravida
						</p>
					</div>
					<div class="contentBox">
						<span class="circle"> 2 </span>

						<p class="p2">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
							phasellus proin ultrices in integer habitant fames purus leo.
							Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
							Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
							tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
							habitasse in turpis nisl gravida
						</p>
					</div>
					<div class="contentBox">
						<span class="circle"> 3 </span>

						<p class="p3">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
							phasellus proin ultrices in integer habitant fames purus leo.
							Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
							Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
							tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
							habitasse in turpis nisl gravida
						</p>
					</div>
					<div class="contentBox">
						<span class="circle"> 4 </span>

						<p class="p4">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
							phasellus proin ultrices in integer habitant fames purus leo.
							Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
							Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
							tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
							habitasse in turpis nisl gravida
						</p>
					</div>
					<div class="contentBox">
						<span class="circle"> 5 </span>

						<p class="p5">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
							phasellus proin ultrices in integer habitant fames purus leo.
							Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
							Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
							tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
							habitasse in turpis nisl gravida
						</p>
					</div>
				</div>
				<div class="contentBox">
					<span class="circle"> 5 </span>

					<p class="p5">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sociis
						phasellus proin ultrices in integer habitant fames purus leo.
						Massa, sodales elit, facilisis ornare malesuada faucibus nibh.
						Tellus et, et non hendrerit quis tellus porttitor sodales. Ac
						tellus suspendisse ac libero, laoreet a enim in cras. Gravida quis
						habitasse in turpis nisl gravida
					</p>
				</div>
			</div>

			<span class="whitedot3">
				<img src="../public/images/whitedots.png" alt="" />
			</span>
			<span class="whitedot4">
				<img src="../public/images/whitedots.png" alt="" />
			</span>
		</div> -->
	</div>




	<footer>
		<div class="body">
			<a class="footer-atag" href="./views/signup.html">JOIN US</a>
			<table>
				<thead>
					<tr>
						<th>About TEDx</th>
						<th colspan="2">CONTACT</th>
						<!-- <th>Organizing Team</th> -->
						<!-- <th>Speakers</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><a
								href="https://www.ted.com/about/our-organization/our-policies-terms/ted-talks-usage-policy">TED
								Talks Usage Policy</a></td>
						<td>Babu Charles</td>
						<td>7358734561</td>
						<!-- <td>Web Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td><a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy
								Policy</a></td>
						<td>Rohith</td>
						<td>7397385494</td>
						<!-- <td>Design Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td><a href="https://support.ted.com/">Help</a></td>
						<td>Naparajith</td>
						<td>7550184309</td>
						<!-- <td>NAME</td> -->
						<!-- <td>NAME</td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer">
			<ul>
				<li><a href="https://www.facebook.com/profile.php?id=100073719521869" target="_blank">Facebook</a></li>
				<li><a href="https://www.instagram.com/tedxchennaiinstituteoftech_/" target="_blank">Instagram</a></li>
				<li><a href="https://twitter.com/CitTedx" target="_blank">Twitter</a></li>
			</ul>
			<p class="privacy-policy">
				@Chennai India, Inc. All rights reserved / <a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy</a> / <a href="./views/signup.html">Contact</a> / <a href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ">Press</a>
			</p>
		</div>
	</footer>








	<script src="../public/JS/guideline.js"></script>

</body>

</html>