<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="../public/CSS/nav.css" />
	<link rel="stylesheet" href="../public/CSS/ourspeakers.css" />
	<title>OurSpeakers</title>
</head>

<body>
	<!-- NAVBAR -->

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">
				<div class="nav-title">
					<img src="../public/images/Logo.png" alt="tedx" />
				</div>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="../index.html">HOME</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="./about.html">ABOUT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="./guidelines.html">GUIDELINES</a>
					</li>
					<li class="nav-item">
						<a class="nav-link atag-join-us" aria-current="page" href="./signup.html">JOIN US</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- SECTION 1 -->
	<section class="section-1">
		<div class="section-1left">
			<span class="">
				<img class="frontimg frontimg1" src="../public/images/frontimg1.png" alt="" />
				<img class="frontdot1" src="../public/images/dots2.png" alt="" />
			</span>
			<span class="">
				<img class="frontimg frontimg2" src="../public/images/frontimg2.png" alt="" />
				<img class="frontdot2" src="../public/images/dots2.png" alt="" />
			</span>
			<span class="">
				<img class="frontimg frontimg3" src="../public/images/frontimg3.png" alt="" />
				<img class="frontdot3" src="../public/images/dots2.png" alt="" />
			</span>
		</div>
		<div class="section-1right">
			<span>
				<img src="../public/images/tedx2.png" alt="TED-X" />
			</span>
			<p>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, eius
				cumque fugiat incidunt eaque accusamus necessitatibus? Dolore,
				cupiditate? Earum beatae cum dignissimos repellendus, eligendi iure
				sit hic temporibus pariatur accusantium. Lorem, ipsum dolor sit amet
				consectetur adipisicing elit. Debitis voluptas, eligendi reprehenderit
				cum vel nam ipsa. Sunt sint excepturi sit dignissimos enim
				necessitatibus, voluptatem error, iste doloribus voluptate recusandae
				consequatur.
			</p>
		</div>
	</section>

	<!-- SECTION 2 -->
	<section class="section-2">
		<img class="dotimg1" src="../public/images/whitedots.png" alt="dotimg" />
		<img class="dotimg2" src="../public/images/whitedots.png" alt="dotimg" />
		<img class="dotimg3" src="../public/images/whitedots.png" alt="dotimg" />
		<img class="dotimg4" src="../public/images/whitedots.png" alt="dotimg" />
		<h1 class="section-2heading">HEADING</h1>
		<div class="youtube">
			<span class="eventdotspan1">
				<img src="../public/images/event_type_dots2.png" alt="dots" />
				<img src="../public/images/event_type_dots2.png" alt="dots" />
			</span>
			<span class="youtubespan">
				<img src="https://img.icons8.com/color/144/000000/youtube-play.png" />
				<h1>YouTube</h1>
			</span>
			<span class="eventdotspan2">
				<img src="../public/images/event_type_dots2.png" alt="dots" />
				<img src="../public/images/event_type_dots2.png" alt="dots" />
			</span>
		</div>
		<p class="section-2p1">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, porro
			consequatur voluptates tempore eum beatae repellat temporibus sit sequi
			tenetur nam aperiam quidem cumque deleniti, maiores labore, laborum
			ipsam quod. Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Possimus minus maiores necessitatibus, placeat nihil voluptates harum
			assumenda explicabo enim accusantium, alias unde totam corrupti a
			mollitia doloribus recusandae ex quibusdam?
		</p>
		<p class="section-2p2">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
			dignissimos cupiditate quis, impedit earum a ipsa quisquam eum sapiente
			accusamus inventore deserunt error officia aperiam. Molestias hic quasi
			nulla vero! Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Quibusdam, temporibus numquam! Non sint ex consequuntur voluptates,
			eligendi excepturi sed quo et fugiat officiis necessitatibus impedit,
			magnam dolores molestias. Dolorum, inventore.
		</p>
	</section>

	<!-- SECTION 3 -->

	<section class="section-3">
		<span class="section-3h1">
			<h1>OUR <span>SPEAKERS</span></h1>
		</span>
		<p class="section-3p">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia nisi
			fugit quod eius, nemo similique, impedit nobis ipsa natus id quo facere
			minus aperiam autem quos molestias nam inventore odit! Lorem ipsum dolor
			sit amet consectetur adipisicing elit. Eum praesentium minus
			necessitatibus quisquam rerum eos, delectus dolor ipsum aspernatur atque
			aliquid, quo maxime quod ex, a aliquam voluptate eveniet velit? Lorem
			ipsum, dolor sit amet consectetur adipisicing elit. Unde, hic
			necessitatibus ad quod eveniet odit saepe, illo, nulla quisquam labore
			accusantium porro quasi maiores. Ab voluptatibus eos sed quos fuga!
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, nisi
			laudantium maxime fugiat ipsum excepturi necessitatibus nobis debitis at
			quasi ipsam blanditiis sed voluptates, obcaecati dignissimos error magni
			quisquam adipisci?
		</p>
		<div class="section-3div">
			<div class="gridbox-1 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-2 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-3 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-4 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-5 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-6 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-7 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-8 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
			<div class="gridbox-9 girdbox">
				<div class="rotate"></div>
				<p>FULL NAME</p>
				<p>consectetur seclerisque non.</p>
				<!-- <img src="../public/images/textimg1.png" alt="image" /> -->
			</div>
		</div>
	</section>

	<!-- SECTION 4 -->

	<section class="section-4">
		<img class="dotimg1" src="../public/images/whitedots.png" alt="dotimg" />
		<img class="dotimg2" src="../public/images/whitedots.png" alt="dotimg" />
		<img class="dotimg3" src="../public/images/whitedots.png" alt="dotimg" />
		<img class="dotimg4" src="../public/images/whitedots.png" alt="dotimg" />
		<span class="section-4span">
			<img src="../public/images/event_type_dots2.png" alt="" />
			<h1>OUR <span>ORGANIZERS</span></h1>
			<img src="../public/images/event_type_dots2.png" alt="" />
		</span>
		<div class="section-4div">
			<div class="gridarea-1 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-2 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-3 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-4 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-5 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-6 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>

				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-7 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-8 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-9 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
		</div>
	</section>

	<!-- FOOTER -->

	<footer>
		<div class="body">
			<a class="footer-atag" href="./views/signup.html">JOIN US</a>
			<table>
				<thead>
					<tr>
						<th>About TEDx</th>
						<th colspan="2">CONTACT</th>
						<!-- <th>Organizing Team</th> -->
						<!-- <th>Speakers</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<a
								href="https://www.ted.com/about/our-organization/our-policies-terms/ted-talks-usage-policy">TED
								Talks Usage Policy</a>
						</td>
						<td>Babu Charles</td>
						<td>7358734561</td>
						<!-- <td>Web Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td>
							<a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy
								Policy</a>
						</td>
						<td>Rohith</td>
						<td>7397385494</td>
						<!-- <td>Design Team</td> -->
						<!-- <td>NAME</td> -->
					</tr>
					<tr>
						<td><a href="https://support.ted.com/">Help</a></td>
						<td>Naparajith</td>
						<td>7550184309</td>
						<!-- <td>NAME</td> -->
						<!-- <td>NAME</td> -->
					</tr>
				</tbody>
			</table>
		</div>
		<div class="footer">
			<ul>
				<li>
					<a href="https://www.facebook.com/profile.php?id=100073719521869" target="_blank">Facebook</a>
				</li>
				<li>
					<a href="https://www.instagram.com/tedxchennaiinstituteoftech_/" target="_blank">Instagram</a>
				</li>
				<li>
					<a href="https://twitter.com/CitTedx" target="_blank">Twitter</a>
				</li>
			</ul>
			<p class="privacy-policy">
				@Chennai India, Inc. All rights reserved /
				<a href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy">Privacy</a>
				/ <a href="./views/signup.html">Contact</a> /
				<a href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ">Press</a>
			</p>
		</div>
	</footer>



	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>