<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../public/CSS/nav.css" />
		<link rel="stylesheet" href="../public/CSS/footer.css" />
		<link rel="stylesheet" href="../public/CSS/signup.css" />
		<link
			rel="shortcut icon"
			href="../public/images/favicon-32x32.png"
			type="image/x-icon"
		/>
		<title>SIGN UP</title>
	</head>

	<body class="container">
		<div class="nav">
			<input type="checkbox" id="nav-check" />
			<div class="nav-header">
				<div class="nav-title">
					<img src="../public/images/Logo.png" alt="tedx" />
				</div>
			</div>
			<div class="nav-btn">
				<label for="nav-check">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>

			<div class="nav-links">
				<a href="../index.html">HOME</a>
				<a href="../views/about.html">ABOUT</a>
				<a href="../views/guidelines.html">GUIDELINES</a>
				<a class="join" href="../views/signup.html">JOIN US</a>
			</div>
		</div>
		<h1 class="title">
			<span class="border">Regist<span class="up">ration</span></span>
		</h1>
		<p class="para1">
			It's never too late to change , but will it remain the same tomorrow? Join
			us on the event of (date of evet) , where we understand the gementory of
			our problems ,enhance our solutions and raise the rightanswers to the
			right questions to make this world a better place not just for humans but
			other species as well. Let us take our steps today or there will be
			nothing else to walk onto.
		</p>
		<section class="contactBox">
			<h1 class="details">
				DETAILS <br />
				<span></span>
			</h1>
			<form
				action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeFi_X5Kgu8M4koYas-YCvcWv957h2tbFC_6ohIK1gYEGp42w/formResponse"
				class="formMain"
				method="post"
			>
				<div class="inputBox">
					<label for="email"
						>Your email <span style="color: red">*</span></label
					>
					<input type="email" name="entry.1057295610" id="email" required />
				</div>
				<div class="inputBox">
					<label for="email">Your name <span style="color: red">*</span></label>
					<div class="nameMain">
						<div class="first">
							<p>First</p>
							<input type="text" name="entry.1399151359" id="first" required />
						</div>
						<div class="last">
							<p>Last</p>
							<input type="text" name="entry.1152370267" id="last" required />
						</div>
					</div>
				</div>
				<div class="inputBox">
					<label for="club">Your Company/School/Community/Club </label>
					<input type="text" name="entry.1303788788" id="club" />
				</div>
				<div class="inputBox">
					<h1 class="location">Your location</h1>
					<label for="city">City/town</label>
					<input type="text" name="entry.794575795" id="city" />
				</div>
				<div class="inputBox">
					<label for="state">State/Province/Region</label>
					<input type="text" name="entry.441748982" id="state" />
				</div>
				<div class="inputBox">
					<label for="country">Country<span style="color: red"> *</span></label>
					<input type="text" name="entry.563940635" id="country" required />
				</div>
				<p class="policy">
					TED will use the information you've shared to send you relevant
					Countdown updates.<br />
					TED will store, process and manage your information according to TED's
					privacy policy:<br />https:/www.ted.com/privacy
					<span style="color: red">*</span>
				</p>
				<div class="inputBox2">
					<input
						type="checkbox"
						name="check"
						id="check"
						class="check"
						required
					/>
					<label for="check" class="checkContent"
						>I agree for TED to manage my personal information (as stated above)
						and <br />
						send me Countdown-related emails</label
					>
				</div>
				<button type="submit" class="btnsubmit">Submit</button>
			</form>
		</section>
		<section class="options">
			<h1 class="titleAttend">
				ATTENDING <span style="color: white">OPTIONS</span>
			</h1>
			<div class="optionsFlex">
				<div class="option1">
					<h3>OFFLINE</h3>
					<img src="../public/images/signup/offline.png" alt="" />
					<p>
						The event will be conducted on (date here) on (venue details), our
						speakers will address various problems and solutions to overcome the
						storm and lay a path for a better world for living . to reserve
						seats please pre register above.
					</p>
					<button class="register">Learn More</button>
				</div>
				<!-- <div class="option2">
          <h3>ONLINE</h3>
          <img src="../public/images/signup/online.png" alt="" />
          <p>
            The live option will be also available for those who couldn't be
            available to live event due to some unfortunate shortcoming , our
            speakers will address various problems and solutions to overcome the
            storm and lay a path for a better world for living.
          </p>
          <button class="register">Learn More</button>
        </div> -->
			</div>
		</section>

		<footer>
			<div class="body mobile-footer">
				<a href="./signup.html">JOIN US</a>
				<a class="footer-atag" href="./views/signup.html">JOIN US</a>
				<table>
					<thead>
						<tr>
							<th>About TEDx</th>
							<th colspan="2">CONTACT</th>
							<!-- <th>Organizing Team</th> -->
							<!-- <th>Speakers</th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a
									href="https://www.ted.com/about/our-organization/our-policies-terms/ted-talks-usage-policy"
									>TED Talks Usage Policy</a
								>
							</td>
							<td>Babu Charles</td>
							<td>7358734561</td>
							<!-- <td>Web Team</td> -->
							<!-- <td>NAME</td> -->
						</tr>
						<tr>
							<td>
								<a
									href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy"
									>Privacy Policy</a
								>
							</td>
							<td>Rohith</td>
							<td>7397385494</td>
							<!-- <td>Design Team</td> -->
							<!-- <td>NAME</td> -->
						</tr>
						<tr>
							<td><a href="https://support.ted.com/">Help</a></td>
							<td>Naparajith</td>
							<td>7550184309</td>
							<!-- <td>NAME</td> -->
							<!-- <td>NAME</td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="footer">
				<ul>
					<li>
						<a
							href="https://www.facebook.com/profile.php?id=100073719521869"
							target="_blank"
							>Facebook</a
						>
					</li>
					<li>
						<a
							href="https://www.instagram.com/tedxchennaiinstituteoftech_/"
							target="_blank"
							>Instagram</a
						>
					</li>
					<li>
						<a href="https://twitter.com/CitTedx" target="_blank">Twitter</a>
					</li>
				</ul>
				<p class="privacy-policy">
					@Chennai India, Inc. All rights reserved /
					<a
						href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy"
						>Privacy</a
					>
					/ <a href="./views/signup.html">Contact</a> /
					<a href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ"
						>Press</a
					>
				</p>
			</div>
		</footer>

		<script src="../public/JS/signup.js"></script>

		<script src="../public/JS/signup.js"></script>
		<script src="./public/JS/footer.js"></script>
	</body>
</html>
