<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/CSS/nav.css" />
  <link rel="stylesheet" href="../public/CSS/signup.css" />
  <title>SIGN UP</title>
</head>

<body class="container">
  <nav>
    <a href=""><img src="../images/tedx.png" alt="tedx" /></a>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="./views/about.html">ABOUT</a></li>
      <li><a href="./views/signup.html">CONTACT</a></li>
      <li class="join"><a href="/">JOIN</a></li>
    </ul>
  </nav>
  <h1 class="title">
    <span class="border">SIGN <span class="up">UP</span></span>
  </h1>
  <p class="para1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet vitae
    tempor nec sed amet hac commodo tortor. Pretium, cursus diam tincidunt
    mauris magna. Leo erat sed dictumst at. Quam.
  </p>
  <section class="contactBox">
    <h1 class="details">DETAILS</h1>
    <form action="" method="post">
      <div class="inputBox">
        <label for="email">Your email <span style="color: red">*</span></label>
        <input type="email" name="email" id="" />
      </div>
      <div class="inputBox">
        <label for="email">Your name <span style="color: red">*</span></label>
        <div class="nameMain">
          <div>
            <p>first</p>
            <input type="text" name="name" id="" />
          </div>
          <div>
            <p>last</p>
            <input type="text" name="name" id="" />
          </div>
        </div>
      </div>
      <div class="inputBox">
        <label for="club">Your company, school or community/club
          <span style="color: red">*</span></label>
        <input type="text" name="club" id="" />
      </div>
      <h1 class="location">Your location</h1>
      <div class="inputBox">
        <label for="city">City/town<span style="color: red">*</span></label>
        <input type="text" name="city" id="" />
      </div>
      <div class="inputBox">
        <label for="state">State/Province/Region<span style="color: red">*</span></label>
        <input type="text" name="state" id="" />
      </div>
      <div class="inputBox">
        <label for="country">Country<span style="color: red">*</span></label>
        <input type="text" name="country" id="" />
      </div>
      <p>
        TED will use the information you've shared to send you relevant
        Countdown updates.<br />
        TED will store, process and manage your information according to TED's
        privacy policy:<br />https:/www.ted.com/privacy
        <span style="color: red">*</span>
      </p>
      <div class="inputBox2">
        <input type="checkbox" name="check" id="check" class="check" />
        <label for="check" class="checkContent">I agree for TED to manage my personal information (as stated above)
          and <br />
          send me Countdown-related emails</label>
      </div>
      <button class="submit">Submit</button>
    </form>
  </section>
  <section class="options">
    <h1 class="titleAttend">
      ATTENDING <span style="color: white">OPTIONS</span>
    </h1>
    <div class="optionsFlex">
      <div class="option1">
        <h3>OFFLINE</h3>
        <img src="../public/images/signup/offline.png" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis
          placerat ut elementum at venenatis duis hac blandit. Tellus arcu
          suspendisse.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Felis placerat ut elementum at venenatis duis hac blandit.
        </p>
        <button class="register">Register</button>
      </div>
      <div class="option2">
        <h3>ONLINE</h3>
        <img src="../public/images/signup/online.png" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis
          placerat ut elementum at venenatis duis hac blandit. Tellus arcu
          suspendisse.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Felis placerat ut elementum at venenatis duis hac blandit.
        </p>
        <button class="register">Register</button>
      </div>
    </div>
  </section>
  <section class="merch">
    <h1 class="merchTitle">MERCH SECTION</h1>
    <p></p>
  </section>
</body>

</html>