<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="shortcut icon"
			href="../public/images/favicon-32x32.png"
			type="image/x-icon"
		/>
		<link rel="stylesheet" href="../public/CSS/footer.css" />
		<link rel="stylesheet" href="../public/CSS/nav.css" />
		<link rel="stylesheet" href="../public/CSS/about.css" />
		<link rel="stylesheet" href="../public/CSS/sponsor.css" />
		<title>Sponsor</title>
	</head>
	<body>
		<div class="nav">
			<input type="checkbox" id="nav-check" />
			<div class="nav-header">
				<div class="nav-title">
					<a href="../index.html"
						><img src="../public/images/tedx.png" alt="tedx"
					/></a>
				</div>
			</div>
			<div class="nav-btn">
				<label for="nav-check">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>

			<div class="nav-links">
				<a href="../index.html">HOME</a>
				<a href="../views/about.html" class="active">ABOUT</a>
				<!-- <a href="../views/guidelines.html">EVENT SCHEDULE</a> -->
				<a href="./past-events/main-events.html">PAST EVENTS</a>
				<a href="./sponsor.html">OUR SPONSORS</a>
				<!-- <a class="join" href="signup.html">JOIN US</a> -->
				<a
					target="_blank"
					class="join"
					href="https://www.townscript.com/e/tedxchennaiinstituteoftechnologywomen-243143"
					>JOIN US</a
				>
			</div>
		</div>

		<section class="sponsor-section">
			<div class="sponsor-div">
				<div class="each-sponsor">
					<div class="image-sponsor" style="background: #000">
						<a target="_blank" href="https://www.appreiz.com/"
							><img
								src="https://www.appreiz.com/resources/assets/img/logo-light.png"
								alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Appreiz</h1>
						<h3>Title Sponsor</h3>
					</div>
				</div>
				<!-- <div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://www.jinglebid.com/"
							><img
								style="object-fit: cover"
								src="https://images.yourstory.com/cs/images/brandSpotlight/Untitleddesign-2021-04-24T105510-1619241984816.png"
								alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Jingle bid</h1>
						<h3>Title Sponsor</h3>
					</div>
				</div> -->
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://vegroute.com/"
							><img src="https://vegroute.com/personal/img/logo-big.png" alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Veg Route</h1>
						<h3>Gold Sponsor</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://pepul.com/"
							><img
								src="https://pepul.com/new_web_asset/asset/logo/logo.svg"
								alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Peepul</h1>
						<h3>Silver Sponsor</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://www.palamsilk.com/"
							><img src="../public/images/Sponsors/palam_silks.jpeg" alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Palam Silks</h1>
						<h3>Silver Sponsor</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor" style="background: #000">
						<a target="_blank" href="https://mindandmom.com/"
							><img
								src="https://mindandmom.com/wp-content/uploads/2020/09/png-Copy.png"
								alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Mind & Mom</h1>
						<h3>Bronze Sponsor</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://saravanabhavan.com/"
							><img src="../public/images/Sponsors/saravana bhavan.jpeg" alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Saravana Bhavan</h1>
						<h3>Hospitality Partner</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://kamarkattuecostore.co.in/"
							><img src="../public/images/Sponsors/kamarkatu.jpeg" alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Kamarkattu</h1>
						<h3>Gift Partner</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://www.startuppayanam.in/"
							><img src="../public/images/Sponsors/Outreach Partner.jfif" alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Startup Payanam</h1>
						<h3>Outreach Partner</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://www.townscript.com/in/online"
							><img
								src="https://www.townscript.com/assets/images/ts-logo.svg"
								alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Townscript</h1>
						<h3>Ticketing Partner</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://saravanabhavan.com/"
							><img src="../public/images/Sponsors/saravana bhavan.jpeg" alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Saravana Bhavan</h1>
						<h3>Hospitality Partner</h3>
					</div>
				</div>
				<div class="each-sponsor">
					<div class="image-sponsor">
						<a target="_blank" href="https://saravanabhavan.com/"
							><img src="../public/images/Sponsors/saravana bhavan.jpeg" alt=""
						/></a>
					</div>
					<div class="content-sponsor">
						<h1>Saravana Bhavan</h1>
						<h3>Hospitality Partner</h3>
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="body mobile-footer">
				<table>
					<thead>
						<tr>
							<th>About TEDx</th>
							<th colspan="2">CONTACT</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<a
									href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy"
									>Privacy Policy</a
								>
							</td>
							<td>Vidhya Lakshmi</td>
							<td>9360367102</td>
							<!-- <td>Design Team</td> -->
							<!-- <td>NAME</td> -->
						</tr>
						<tr>
							<td>
								<a
									href="https://www.ted.com/about/our-organization/our-policies-terms/ted-talks-usage-policy"
									>TED Talks Usage Policy</a
								>
							</td>
							<td>Neeharika Challa</td>
							<td>9000486965</td>
							<!-- <td>Design Team</td> -->
							<!-- <td>NAME</td> -->
						</tr>
						<tr>
							<td></td>
							<td>Harine K R</td>
							<td>9345509141</td>
							<!-- <td>Design Team</td> -->
							<!-- <td>NAME</td> -->
						</tr>
						<tr>
							<td></td>
							<td>Babu Charles</td>
							<td>7358734561</td>
							<!-- <td>Web Team</td> -->
							<!-- <td>NAME</td> -->
						</tr>
					</tbody>
				</table>
			</div>
			<div class="footer">
				<ul>
					<li>
						<a
							href="https://www.facebook.com/profile.php?id=100073719521869"
							target="_blank"
							>Facebook</a
						>
					</li>
					<li>
						<a
							href="https://www.instagram.com/tedxchennaiinstituteoftech_/"
							target="_blank"
							>Instagram
						</a>
					</li>
					<li>
						<a href="https://twitter.com/CitTedx" target="_blank">Twitter</a>
					</li>
				</ul>
				<p class="privacy-policy">
					@Chennai, India. All rights reserved /
					<a
						href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy"
						>Privacy</a
					>
					/ <a href="../views/signup.html">Contact</a> /
					<a href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ"
						>Press</a
					>
				</p>
			</div>
		</footer>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/ScrollTrigger.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment-with-locales.min.js"
			integrity="sha256-ZykW30UBCXWkPGsVyVPdJlUrce9/PawgYCEzinA4pnU="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.17/moment-timezone-with-data-2012-2022.min.js"
			integrity="sha256-pQNlWZakdoYCCoBWZ5G8hXPqONH7l7QX+MGFoAkiBqs="
			crossorigin="anonymous"
		></script>

		<script src="../public/JS/tilt.js"></script>

		<script>
			VanillaTilt.init(document.querySelectorAll(".each-sponsor"), {
				max: 10,
				glare: true,
				reverse: true,
				"max-glare": 0.5,
			});
		</script>

		<script src="../public/JS/index.js"></script>
		<script src="../public/JS/nav.js"></script>
		<script src="../public/JS/pop-up.js"></script>
		<script src="../public/JS/footer.js"></script>
	</body>
</html>
