@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* nav */
.nav {
  background: #000;
}
.nav > .nav-links > a {
  color: white;
}
.nav > .nav-header {
  width: 33%;
}
.image-tedx {
  background: #fff;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #ec1015;
  border-radius: 3px;
}

.nav {
	background-color: rgba(35, 35, 35, 0.35) !important;
}

.nav .nav-title img {
	width: 18rem;
	margin-left: 4rem;
}

.nav .nav-links a {
	color: #fff !important;
}

.nav .nav-links a.join {
	color: black !important;
	padding: 0.5rem 1.5rem;
}

body {
  background-color: #0e0d0d;
  overflow: overlay;
}

.hero {
  width: 100%;
  height: calc(100vh - 4.3rem);
  position: relative;
}

.center-hero {
  position: absolute;
  width: 38rem;
  height: 23rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background: url("../images/hero_tedx.png") center/cover;
}

.center-hero > div {
  color: white;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  transform: translateY(-50%);
}

.center-hero > div > span {
  color: #ec1015;
}

.hero .top-left {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-top: 6rem;
  margin-left: 3.5rem;
  top: 0;
  left: 0;
}

.hero .top-left .large {
  height: 11rem;
  width: 14rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.35);
  transform-origin: bottom left;
}

.hero .top-left .small {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, -40%);
  transform-origin: top right;
  height: 6rem;
  width: 8rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.6);
  display: inline-block;
}

.hero .top-right {
  position: absolute;
  width: fit-content;

  height: fit-content;
  margin-top: 4rem;
  margin-right: 10rem;
  top: 0;
  right: 0;
}

.hero .top-right .large {
  height: 11rem;
  width: 14rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.35);
  transform-origin: top left;
}

.hero .top-right .small {
  position: absolute;
  transform-origin: bottom right;
  bottom: 0;
  right: 0;
  transform: translate(60%, 65%);
  height: 6rem;
  width: 8rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.6);
  display: inline-block;
}

.hero .bottom .bottom-left {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-bottom: 3rem;
  margin-left: 3.5rem;
  bottom: 5%;
  left: 3%;
}

.hero .bottom .bottom-left .large {
  height: 8rem;
  width: 11rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.35);
  transform-origin: bottom right;
}

.hero .bottom .bottom-left .small {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(60%, -40%);
  height: 5rem;
  width: 6rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.6);
  display: inline-block;
  transform-origin: top left;
}

.hero .bottom .bottom-left-2 {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-bottom: 3rem;
  bottom: 8%;
  left: 30%;
}

.hero .bottom .bottom-left-2 .large {
  height: 7rem;
  width: 10rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.35);
  transform-origin: bottom right;
}

.hero .bottom .bottom-right {
  position: absolute;
  width: fit-content;
  height: fit-content;
  margin-bottom: 3rem;
  margin-left: 3.5rem;
  bottom: 0;
  right: 30%;
}

.hero .bottom .bottom-right .large {
  height: 8rem;
  width: 11rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.35);
  transform-origin: right;
}

.hero .bottom .bottom-right .small {
  position: absolute;
  top: 50%;
  left: 0;
  transform-origin: left;
  transform: translate(-20%, -50%);
  height: 5rem;
  width: 6rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.6);
  display: inline-block;
}

.hero .bottom .bottom-right-2 {
  position: absolute;
  width: fit-content;
  height: fit-content;
  bottom: 15%;
  right: 5%;
}

.hero .bottom .bottom-right-2 .large {
  height: 8rem;
  width: 11rem;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.35);
  transform-origin: bottom right;
}

.hero .bottom .bottom-right-2 .small {
  position: absolute;
  transform-origin: top left;
  top: 0;
  left: 0;
  transform: translate(-70%, -40%);
  height: 5rem;
  width: 6rem;
  border-radius: 20px;
  box-shadow: 3px 3px 4px rgba(255, 251, 251, 0.18);
  background-color: rgba(64, 64, 64, 0.6);
  display: inline-block;
}

.begins {
  width: 100%;
  height: 100vh;
  position: relative;
}

.begins .top {
  width: 100%;
  height: 50%;
  background: url("../images/Begins.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.begins .top > div {
	text-decoration: line-through black;
}

.begins .top > div span {
	font-size: 8.5vw;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	letter-spacing: -4px;
}

.begins .top > div span:nth-child(1) {
	color: #f1ff39;
}

.begins .top > div span:nth-child(2) {
	color: white;
}

.begins .bottom {
  width: 100%;
  height: 50%;
  font-size: 15rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.begins .bottom > div {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 3rem;
  overflow: hidden;
  width: 10rem;
  height: 100%;
}

.begins .bottom > div > span {
  position: absolute;
  top: 100%;
}

.begins .bottom > div > span:nth-of-type(1) {
  z-index: 10;
  top: 0;
}

.begins .bottom > div > span:nth-of-type(2) {
  z-index: 9;
}

.begins .bottom > div > span:nth-of-type(3) {
  z-index: 8;
}

.begins .bottom > div > span:nth-of-type(4) {
  z-index: 7;
}

.begins .bottom > div > span:nth-of-type(5) {
  z-index: 6;
}

.view-event * {
  font-family: "Anton", sans-serif;
}

.view-event {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
}

.view-event .left {
  width: 50%;
  height: 100%;
  display: flex;
  line-height: 8rem;
  justify-content: center;
  flex-direction: column;
  background-color: #f1ff39;
  font-size: 8rem;
  padding-left: 10rem;
}

.view-event .right {
  width: 50%;
  height: 100%;
  padding-left: 4rem;
  color: white;
}

.view-event .right h1 {
	font-size: 5rem;
	font-weight: 100;
	text-decoration: line-through black;
	margin-top: 1rem;
}

.view-event .right h1 span {
  color: #f1ff39;
}

.view-event .right p {
	font-family: 'Inter', sans-serif;
	color: rgba(255, 255, 255, 0.75);
	line-height: 1.5rem;
	font-size: 1.3vw;
	width: 90%;
}

.view-event .right h2 {
	font-family: 'Encode Sans', sans-serif;
	margin: 2rem 0;
	font-size: 2.5vw;
}

.view-event .right h3 {
	font-size: 3rem;
	font-weight: 100;
	color: #f1ff39;
}

.view-event .right img {
	width: 35vw;
	margin-top: 1rem;
}

.view-event .right a {
  padding: 0.5rem 2rem;
  border: 5px solid #ff2e2e;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "Encode Sans";
}

.about {
	width: 100%;
	height: fit-content;
	background: white;
	padding: 5rem 10rem;
	position: relative;
}

.about > img:nth-of-type(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 8rem;
}

.about > img:nth-of-type(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 8rem;
}

.about > img:nth-of-type(3) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 8rem;
}

.about > img:nth-of-type(4) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 8rem;
}

.about * {
	color: #444444;
}

.about .top {
	width: 100%;
	height: 40%;
	margin-bottom: 1rem;
}

.about .top h1 {
	color: #ec1015;
	font-family: 'Anton';
	font-size: 2.5rem;
	font-weight: 100;
}

.about .top p {
	text-align: center;
}

.about .bottom {
	width: 100%;
	height: 60%;
	display: flex;
	position: relative;
}

.about .bottom img {
	width: 50%;
	height: 100%;
	border-radius: 5px;
}

.about .bottom div {
	width: 50%;
	padding: 0 3rem;
	height: 100%;
}

.about .bottom div h1 {
	color: #ec1015;
	font-family: 'Anton';
	font-size: 2.5rem;
	font-weight: 100;
}

.about .bottom div a {
	text-decoration: none;
	color: black;
	background: #f1ff39;
	padding: 0.5rem 2rem;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
	border-radius: 5px;
	font-family: 'Inter';
	font-weight: 700;
}

.past-events {
	width: 100%;
	position: relative;
	color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 0 10rem;
}

.past-events h1 {
	font-family: 'Encode Sans', sans-serif;
	padding-top: 2rem;
	font-size: 5.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.past-events h1 img {
	padding: 0 1.5rem;
}

.past-events h1 span {
	color: #f1ff39;
}

.past-events .card {
	align-self: flex-end;
	width: 80%;
	background: rgba(90, 90, 90, 0.5);
	border-radius: 5px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 3rem;
	margin-top: 3rem;
	position: relative;
}

.past-events .card::after {
	position: absolute;
	content: '';
	top: 50%;
	left: -8.5%;
	background: white;
	width: 3rem;
	height: 3rem;
	border-radius: 1.5rem;
}

.past-events > div {
	position: relative;
	display: flex;
	width: fit-content;
	flex-direction: column;
	padding-bottom: 4rem;
}

.past-events > div > span {
	position: absolute;
	height: 85%;
	width: 3px;
	background: white;
	left: 15%;
	top: 10%;
}

.past-events > div > span::after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	transform: translate(-40%, -50%);
	background-color: white;
	border-radius: 50px;
	width: 0.8rem;
	height: 0.8rem;
}

.past-events > div > span::before {
	position: absolute;
	content: '';
	bottom: 0;
	left: 0;
	transform: translate(-40%, 50%);
	background-color: white;
	border-radius: 50px;
	width: 0.8rem;
	height: 0.8rem;
}

.past-events .card * {
	font-family: 'Inter', sans-serif;
}

.past-events .card h1 {
	color: #ec1015;
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.past-events .card a {
	background: #f1ff39;
	padding: 0.5rem 2rem;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
	border-radius: 5px;
	font-weight: 700;
	text-decoration: none;
	color: black;
}

.past-events h2 {
	color: #f1ff39;
	font-family: 'Inter', sans-serif;
}

.past-events > img:nth-of-type(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 7rem;
}

.past-events > img:nth-of-type(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 7rem;
}

.past-events > img:nth-of-type(3) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 7rem;
}

.past-events > img:nth-of-type(4) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 7rem;
}

.our-speakers {
	position: relative;
	width: 100%;
	height: 105vh;
	background: white;
}

.our-speakers > div > img:nth-of-type(1) {
	position: absolute;
	top: 0;
	left: 0;
	width: 2.5rem;
	margin: 2rem;
}
.our-speakers > div > img:nth-of-type(2) {
	position: absolute;
	top: 0;
	right: 0;
	width: 2.5rem;
	margin: 2rem;
}
.our-speakers > div > img:nth-of-type(3) {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 2.5rem;
	margin: 2rem;
}
.our-speakers > div > img:nth-of-type(4) {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2.5rem;
	margin: 2rem;
}

.our-speakers h1 {
	background: #212121;
	width: 100%;
	color: white;
	padding: 1rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Encode Sans', sans-serif;
	position: relative;
	font-size: 3rem;
	font-weight: 600;
}

.our-speakers h1 span {
	height: 100%;
	color: #f1ff39;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(2%);
}

.our-speakers > div {
	height: 86%;
	position: relative;
	padding: 5rem 10rem;
}

.our-speakers > div > p {
	position: relative;
	width: 30%;
	color: rgba(0, 0, 0, 0.7);
}

.our-speakers > div > a {
	background-color: #f1ff39;
	color: black;
	font-weight: 700;
	text-decoration: none;
	padding: 0.5rem 2rem;
	box-shadow: 2px 2px 5px rgb(0 0 0 / 50%);
	border-radius: 5px;
}

.our-speakers .card:nth-of-type(1) {
	width: 15rem;
	height: 18rem;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateY(25%);
}

.our-speakers .card:nth-of-type(1) img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-25%, -25%);
}

.our-speakers .card:nth-of-type(1) > div {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	z-index: 2;
	position: absolute;
	background: #e0e0e0;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.our-speakers .card:nth-of-type(1) > div > span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	background: black;
	border-radius: 10px;
	color: white;
	padding: 0.3rem;
}

.our-speakers .card:nth-of-type(2) {
	width: 17rem;
	height: 23rem;
	position: absolute;
	right: 15rem;
	top: 50%;
	transform: translateY(-40%);
}

.our-speakers .card:nth-of-type(2) img {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(25%, -25%);
}

.our-speakers .card:nth-of-type(2) > div {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	z-index: 2;
	position: absolute;
	background: #e0e0e0;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.our-speakers .card:nth-of-type(2) > div > span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	background: black;
	border-radius: 10px;
	color: white;
	padding: 0.3rem;
}

.our-speakers .card:nth-of-type(3) {
	width: 28rem;
	height: 16rem;
	position: absolute;
	left: 50%;
	bottom: 6%;
	transform: translateX(-46%);
}

.our-speakers .card:nth-of-type(3) img {
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-25%, -25%);
}

.our-speakers .card:nth-of-type(3) > div {
	width: 100%;
	height: 100%;
	border-radius: 15px;
	z-index: 2;
	position: absolute;
	background: #e0e0e0;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.our-speakers .card:nth-of-type(3) > div > span {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	background: black;
	border-radius: 10px;
	color: white;
	padding: 0.3rem;
}
