* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background: #ec1015;
	border-radius: 3px;
}

.nav-title
{
	width: 50%;
	left: 0;
	height: 100%;
	position: absolute;
}
.nav-title a
{
	width: 100%;
	position: relative;
	height: 100%;
}

.nav-title img
{
	/* width: 35%; */
	position: relative;
	height: 100%;
}

.navbar-collapse
{
	flex-grow: 0;
}

.navbar
{
	padding-bottom: 0;
	height: 5rem;
}

.nav-link
{
	font-size: 1.2rem;
	color: white;
}

.nav-link:hover
{
	color: #ec1015 !important;
	border-bottom: 2px solid #ec1015;
	margin-bottom: -2px;
}

.atag-join-us
{
	color: #fff !important;
	border: 2px solid #ec1015;
}
.atag-join-us:hover
{
	background: #ec1015;
	margin-bottom: -2px;
	color: #fff !important;
}
/* .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl
{
	flex-direction: column;
	align-items: flex-end;
} */