* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  background-color: rgba(35, 35, 35, 0.35) !important;
}

.nav .nav-links a {
  color: #fff !important;
}

.nav .nav-links a.join {
  color: black !important;
  padding: 0.5rem 1.5rem;
}

.container {
  background-color: black;
}

.title {
  text-align: left;
  color: red;
  font-size: 5rem;
  font-weight: bold;
  margin: 8% 0rem 0rem 10%;

  position: relative;
}

.up {
  color: white;
}
.border {
  padding-bottom: 0.5rem;
  border-bottom: 5px solid white;
}
.para1 {
  text-align: left;
  color: #c4c4c4;
  font-size: 1.5rem;
  margin: 3rem 10%;
  width: 60%;
  position: relative;
}

.contactBox {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid red;
}

.details {
  position: relative;
  width: fit-content;
  font-size: 3rem;
  color: white;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 0.5rem;
  margin: 2rem 0rem;
}
.details span {
  font-size: 6rem;

  border-radius: 50px;
  background-color: rgb(255, 2, 2);
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;

  position: absolute;
  bottom: 0;
}
form label {
  color: white;
  font-size: 1.45rem;
  margin: 0.5rem 0rem;
  font-weight: 600;
}
form input {
  background-color: #1d1d1d;
  border: 1px solid white;
  height: 50px;
  width: 80%;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
}
.inputBox {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 2rem 0rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.policy {
  padding: 2rem 2rem;
  width: 100%;
  text-align: center;
  font-weight: 500;
  /* font-size: 1rem; */
  font-size: 1.45rem;
}
.inputBox p {
  color: white;
}
.nameMain {
  display: flex;
}

.location {
  font-size: 2rem;
  color: white;
  text-align: left;
  margin: 1rem 0rem;
}
form p {
  color: white;
  font-size: 1.45rem;
  width: 90%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.inputBox2 {
  display: flex;

  width: 80%;
  margin: 2rem 0rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.checkContent {
  font-size: 1.5rem;
  font-weight: 500;
}

.check {
  width: 5%;
  height: 30px;
  margin: 1rem;
}
.btnsubmit {
  background: #f1ff39;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 0.5rem 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  border: none;
  margin-bottom: 3rem;
}

.titleAttend {
  text-align: center;
  position: relative;
  font-size: 3.5rem;
  color: #f1ff39;
  margin: 6rem 0rem 3rem 0rem;
}

.optionsFlex {
  display: flex;

  width: 90%;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.option1,
.option2 {
  width: 40%;
  background: white;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  margin-bottom: 6rem;
}
.option1 img {
  width: 60%;
}
.option2 img {
  width: 80%;
  /* height: 100%; */
}
.option1 h3,
.option2 h3 {
  text-align: center;
  width: 100%;
  font-size: 2rem;
  border-bottom: 15px solid black;
  padding-bottom: 1rem;
  margin: 1rem 0rem;
}
.option1 p,
.option2 p {
  text-align: justify;
  width: 80%;
  font-size: 1.35rem;
  padding: 1rem;
}

.register {
  background: #f1ff39;
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  position: relative;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  border: none;
  margin: 2rem 0rem;
}
/* merch */

.merch {
  position: relative;
  width: 100%;
  background: white;
}

.merchTitle {
  text-align: center;
  position: relative;
  font-size: 5rem;
  color: black;
  padding: 3rem 0rem;
}
.merchTitle span img {
  margin-bottom: 1rem;
}
.merch p {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 400;
  position: relative;
  font-size: 1.5rem;
  width: 70%;
  color: #575757;
}

.collectionTitle {
  letter-spacing: 3px;
  font-size: 1.75rem;
  text-align: center;
  padding: 4rem 0rem;
}

.gridMain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  grid-row-gap: 5em;
  padding-bottom: 5rem;
}

.gridcard {
  width: 80%;
  height: 26rem;
  background-color: #575757;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  position: relative;
}
.pdetails {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}
.pdetails p {
  color: black;
  font-weight: 600;
}
.prize {
  font-size: 1.5rem;
  text-align: center;

  padding: 0.25rem;
}
.pname {
  font-size: 1.5rem;
  text-align: center;

  padding: 0.25rem;
}
.first {
  width: 30%;
}
.first p {
  padding: 0.25rem;
}
.last p {
  padding: 0.25rem;
}
.last {
  width: 30%;
}
.disabled {
  background-color: rgba(255, 255, 255, 1);
}

@media (max-width: 1000px) {
  .option1 {
    width: 70%;
  }
  .titleAttend {
    font-size: 3rem;
  }
  .title {
    font-size: 4rem;
  }
  .para1 {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .para1 {
    width: 80%;
  }
  form label {
    font-size: 1.2rem;
  }
  form p {
    font-size: 1.2rem;
  }
  form input {
    width: 90%;
  }
  .first {
    width: 50%;
  }
  .last {
    width: 50%;
  }
  .policy {
    font-size: 1.2rem;
  }
  .checkContent {
    font-size: 1.2rem;
  }
  .check {
    width: 15%;
  }
}
@media (max-width: 700px) {
  .image-tedx {
    width: 80%;
  }
}
@media (max-width: 600px) {
  form label {
    font-size: 1rem;
  }
  form p {
    font-size: 1rem;
  }
  .policy {
    font-size: 1rem;
  }
  .checkContent {
    font-size: 1rem;
  }
  .para1 {
    font-size: 1rem;
  }
  .title {
    font-size: 3rem;
  }
  .details {
    font-size: 1.5rem;
  }
  .btnsubmit {
    font-size: 1rem;
  }
  .titleAttend {
    font-size: 2rem;
  }
  .option1 h3 {
    font-size: 1.5rem;
  }
  .option1 p {
    font-size: 1.2rem;
  }
  .register {
    font-size: 1rem;
  }
  .option1 {
    width: 90%;
  }
  .inputBox2 {
    width: 90%;
    margin: 1rem 0rem;
  }
  .location {
    font-size: 1.2rem;
  }
  .contactBox {
    width: 90%;
  }
  .inputBox {
    width: 90%;
  }
  .first,
  .last {
    width: 48%;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
  .para1 {
    font-size: 1rem;
  }
  .titleAttend {
    font-size: 1.5rem;
  }
  form input {
    width: 95%;
  }
  .policy {
    padding: 1rem 1rem;
  }
  .option1 p {
    width: 90%;
  }
}
