<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../../public/CSS/nav.css" />
        <link rel="stylesheet" href="../../public/CSS/main-past.css" />
        <title>Past Events</title>
    </head>

    <body>
        <div class="nav">
            <input type="checkbox" id="nav-check" />
            <div class="nav-header">
                <div class="nav-title">
                    <a href="../index.html"
                        ><img src="../../public/images/tedx.png" alt="tedx"
                    /></a>
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a href="../../index.html">HOME</a>
                <a href="../about.html">ABOUT</a>
                <a href="../guidelines.html">GUIDELINES</a>
                <a href="../past-events/main-events.html" class="active"
                    >PAST EVENTS</a
                >
                <a class="join" href="../signup.html">JOIN US</a>
            </div>
        </div>
        <section>
            <div class="first-event">
                <a class="first-poster" href="./ourspeakers.html"
                    ><div></div
                ></a>
            </div>
            <div class="countdown-event">
                <a class="countdown-poster" href="./countdown.html"
                    ><div></div
                ></a>
            </div>
        </section>
    </body>
</html>
