<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="shortcut icon"
            href="../../public/images/favicon-32x32.png"
            type="image/x-icon"
        />
        <link rel="stylesheet" href="../../public/CSS/nav.css" />
        <link rel="stylesheet" href="../../public/CSS/footer.css" />
        <link rel="stylesheet" href="../../public/CSS/pagination.css" />
        <link rel="stylesheet" href="../../public/CSS/ourspeakers.css" />
        <title>Our Speakers</title>
    </head>

    <body>
        <div class="nav">
            <input type="checkbox" id="nav-check" />
            <div class="nav-header">
                <div class="nav-title">
                    <a href="../../index.html"
                        ><img
                            class="tedx-img-title"
                            src="../../public/images/tedx.png"
                            alt="tedx"
                    /></a>
                </div>
            </div>
            <div class="nav-btn">
                <label for="nav-check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>

            <div class="nav-links">
                <a href="../../index.html">HOME</a>
                <a href="../../views/about.html">ABOUT</a>
                <a href="../../views/guidelines.html">GUIDELINES</a>
                <a href="../past-events/main-events.html" class="active"
                    >PAST EVENTS</a
                >
                <a class="join" href="../signup.html">JOIN US</a>
            </div>
        </div>
        <!-- SECTION 1 -->
        <section class="section-1">
            <div class="section-1left">
                <span class="">
                    <img
                        class="frontimg frontimg1"
                        src="../../public/images/ourspeakers/Frontimg1.jpeg"
                        alt=""
                    />
                    <img
                        class="frontdot1"
                        src="../../public/images/dots2.png"
                        alt=""
                    />
                </span>
                <span class="">
                    <img
                        class="frontimg frontimg2"
                        src="../../public/images/ourspeakers/Frontimg3.jpeg"
                        alt=""
                    />
                    <img
                        class="frontdot2"
                        src="../../public/images/dots2.png"
                        alt=""
                    />
                </span>
                <span class="">
                    <img
                        class="frontimg frontimg3"
                        src="../../public/images/ourspeakers/Frontimg2.jpeg"
                        alt=""
                    />
                    <img
                        class="frontdot3"
                        src="../../public/images/dots2.png"
                        alt=""
                    />
                </span>
            </div>
            <div class="section-1right">
                <span>
                    <img src="../../public/images/tedx2.png" alt="TED-X" />
                </span>
                <p>
                    Engaging ideas, cherishing it in the light of its action is
                    a stimuli that humans crave forever. Letting loose of ones
                    imagination to stay focussed and persistent in building
                    ideas that change the world is absolutely fascinating. We
                    are taking nimble steps to achieve this scope. We developed
                    this space for young minds to radiate their ideas and
                    challenge themselves in creating an actionable format. This
                    space is also a humble way to say to the world that we care
                    and spruce up our actions towards it. Let’s voice out to act
                    on creating a sustainable world. Let’s use our creativity to
                    share happiness, pride and finer sensibilities that sustain
                    our relationships.
                </p>
            </div>
        </section>

        <!-- SECTION 2 -->
        <section class="section-2">
            <img
                class="dotimg1"
                src="../../public/images/whitedots.png"
                alt="dotimg"
            />
            <img
                class="dotimg2"
                src="../../public/images/whitedots.png"
                alt="dotimg"
            />
            <img
                class="dotimg3"
                src="../../public/images/whitedots.png"
                alt="dotimg"
            />
            <img
                class="dotimg4"
                src="../../public/images/whitedots.png"
                alt="dotimg"
            />
            <div class="youtube">
                <span class="eventdotspan1">
                    <img
                        src="../../public/images/event_type_dots2.png"
                        alt="dots"
                    />
                    <img
                        src="../../public/images/event_type_dots2.png"
                        alt="dots"
                    />
                </span>
                <span class="youtubespan">
                    <a
                        href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ"
                        target="_blank"
                        ><img
                            src="https://img.icons8.com/color/144/000000/youtube-play.png"
                    /></a>
                    <h1>YouTube</h1>
                </span>
                <span class="eventdotspan2">
                    <img
                        src="../../public/images/event_type_dots2.png"
                        alt="dots"
                    />
                    <img
                        src="../../public/images/event_type_dots2.png"
                        alt="dots"
                    />
                </span>
            </div>
            <p class="section-2p1">
                We have planned it as a virtual event with pre-recorded talks
                premiered via YouTube Premiere. The link to the
                TEDxChennaiInstituteOfTechnology YouTube channel is above.
            </p>
        </section>

        <!-- SECTION 3 -->

        <section class="section-3">
            <span class="section-3h1">
                <h1>OUR <span>SPEAKERS</span></h1>
            </span>
            <div class="section-3div" id="data-container"></div>
            <div id="pagination-container"></div>
        </section>

        <!-- SECTION 4 -->

        <!-- <section class="section-4">
			<img class="dotimg1" src="../../public/images/whitedots.png" alt="dotimg" />
			<img class="dotimg2" src="../../public/images/whitedots.png" alt="dotimg" />
			<img class="dotimg3" src="../../public/images/whitedots.png" alt="dotimg" />
			<img class="dotimg4" src="../../public/images/whitedots.png" alt="dotimg" />
			<span class="section-4span">
				<img src="../../public/images/event_type_dots2.png" alt="" />
				<h1>OUR <span>ORGANIZERS</span></h1>
				<img src="../../public/images/event_type_dots2.png" alt="" />
			</span>
			<div class="section-4div">
				<div class="gridarea-1 girdbox2">
					<span class="red"></span
					><span class="absotedxspan"
						><img class="absotedx" src="../../public/images/ted-x.png" alt=""
					/></span>
					<div class="organizerdiv">
						<span class="black"></span
						><img
							class="organizerpic"
							src="../../public/images/textimg2.png"
							alt=""
						/>
					</div>
					<div>
						<h3>SIGMA GANG</h3>
						<p>Tortor aliquam et ac.</p>
					</div>
					<p class="mention">@official_sigma_rulers</p>
				</div>
				<div class="gridarea-2 girdbox2">
					<span class="red"></span
					><span class="absotedxspan"
						><img class="absotedx" src="../../public/images/ted-x.png" alt=""
					/></span>
					<div class="organizerdiv">
						<span class="black"></span
						><img
							class="organizerpic"
							src="../../public/images/textimg2.png"
							alt=""
						/>
					</div>
					<div>
						<h3>SIGMA GANG</h3>
						<p>Tortor aliquam et ac.</p>
					</div>
					<p class="mention">@official_sigma_rulers</p>
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-6 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>

				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-7 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
			<div class="gridarea-8 girdbox2">
				<span class="red"></span><span class="absotedxspan"><img class="absotedx"
						src="../../public/images/ted-x.png" alt="" /></span>
				<div class="organizerdiv">
					<span class="black"></span><img class="organizerpic" src="../../public/images/textimg2.png" alt="" />
				</div>
				<div>
					<h3>SIGMA GANG</h3>
					<p>Tortor aliquam et ac.</p>
				</div>
				<p class="mention">@official_sigma_rulers</p>
			</div>
		</section> -->

        <!-- FOOTER -->

        <footer>
            <div class="body mobile-footer">
                <table>
                    <thead>
                        <tr>
                            <th>About TEDx</th>
                            <th colspan="2">CONTACT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a
                                    href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy"
                                    >Privacy Policy</a
                                >
                            </td>
                            <td>Vidhya Lakshmi</td>
                            <td>9360367102</td>
                            <!-- <td>Design Team</td> -->
                            <!-- <td>NAME</td> -->
                        </tr>
                        <tr>
                            <td>
                                <a
                                    href="https://www.ted.com/about/our-organization/our-policies-terms/ted-talks-usage-policy"
                                    >TED Talks Usage Policy</a
                                >
                            </td>
                            <td>Neeharika Challa</td>
                            <td>9000486965</td>
                            <!-- <td>Design Team</td> -->
                            <!-- <td>NAME</td> -->
                        </tr>
                        <tr>
                            <td></td>
                            <td>Harine K R</td>
                            <td>9345509141</td>
                            <!-- <td>Design Team</td> -->
                            <!-- <td>NAME</td> -->
                        </tr>
                        <tr>
                            <td></td>
                            <td>Babu Charles</td>
                            <td>7358734561</td>
                            <!-- <td>Web Team</td> -->
                            <!-- <td>NAME</td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer">
                <ul>
                    <li>
                        <a
                            href="https://www.facebook.com/profile.php?id=100073719521869"
                            target="_blank"
                            >Facebook</a
                        >
                    </li>
                    <li>
                        <a
                            href="https://www.instagram.com/tedxchennaiinstituteoftech_/"
                            target="_blank"
                            >Instagram</a
                        >
                    </li>
                    <li>
                        <a href="https://twitter.com/CitTedx" target="_blank"
                            >Twitter</a
                        >
                    </li>
                </ul>
                <p class="privacy-policy">
                    @Chennai, India. All rights reserved /
                    <a
                        href="https://www.ted.com/about/our-organization/our-policies-terms/privacy-policy"
                        >Privacy</a
                    >
                    / <a href="./views/signup.html">Contact</a> /
                    <a
                        href="https://www.youtube.com/channel/UCdqwOoGrg2eiRVrSOvrP-FQ"
                        >Press</a
                    >
                </p>
            </div>
        </footer>

        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
            integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script src="../../public/JS/pagenation.js"></script>
        <script src="../../public/JS/pagination.min.js"></script>
        <script src="../../public/JS/ourspeakers.js"></script>
        <script src="../../public/JS/footer.js"></script>
    </body>
</html>
